
.frame {
    position: relative;
    width: 100%;
    min-height: 180vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;

}

.frame .main_frame {
    position: relative;
    width: 1440px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main_frame .left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.main_frame .left_1 .left_1-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}

.main_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-top: 39px;
    margin-bottom: 25px;
    margin-left: 40px;

    /*Background*/
    border: 1.5px solid #f0f0f6 ;
}
.main_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
}

.main_frame .left_frame .left_1-2 {
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    /* H4 - 18px */
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    /* or 22px*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    /* Black */ 
    color: #2B2B2B;
}


.main_frame .left_frame .left_1-3 {
    position: relative;
    width: 147.84px;
    height: 25.65px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Paragraph Progress*/
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */
    text-transform: capitalize;
    font-feature-settings: "calt" off, 'kern' off;
    /* Paragraph font*/
    color: #767676;
}

.left-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
}

.link-href {
    text-decoration: none;
    color: black;

}

.icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgb(0,0,0,.25));
    /*Yellow*/
    background: #ffb400;
}

.icon-1 {
    position: relative;
    left: 27%;
    right: 27.5%;
    margin-bottom: 5.86px;
}

.main_frame .left_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
}
.main_frame .left_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;

}

.main_frame .left_frame .left_2 {
    /* About */
    position: relative;
    width: 221px;
    height: 126px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left_2-1 {
    /* Rectangle 3 */
    padding: 5px;
    display: flex;
    justify-content: space-between;

}

.left_2-1 .left_2_1-inf{
    /* Rectangle 4 */
    width: 89px;
    height: 24px;
    font-family: Inter;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    background-color: #ffb400;
}

.left_2-1 .left_2_1-freeleance {
    color: #7EB942 ;
}
        /* Language skills's section style*/
.left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-left: 45px;
    margin-top: 10px;
}
.languages {
    display: flex;
    width: 217px;
    justify-content:space-between;
    align-items: flex-end;
    margin-bottom: 5px;
    margin-top: 20px

}
.lang-type, .lang-per {
    font-family: Inter;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    color: #767676;
}
.skill-type, .lang-per {
    font-family: Inter;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    color: #767676;
}
.y-line {
    width: 100%;
    height: 2px;
    background-color: #ffb400;
}
        /* end of language skills style*/

.marginer-l {
    position: relative;
    top: 75px;
}
                /* skill section */
.left_4 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-left: 45px;
    top: 40px;
}

.skills-title {
    margin-top: 25px;
}
.skills {
    display: flex;
    width: 217px;
    justify-content:space-between;
    align-items: flex-end;
    margin-bottom: 5px;
    margin-top: 20px

}
.skill-type, .lang-per {
    font-family: Inter;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    color: #767676;
}
.y-line {
    width: 100%;
    height: 2px;
    background-color: #ffb400;
}
.marginer-s {
        position: relative;
        top: 50px;
}
                        /* end of skill section */
/* Extra skill section */
.left_5 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-left: 45px;
    }

.extra-s-icon > img {
    /* Icons */
    width: 15px;
    height: 15px;
    color: #ffb400;
    }

    .extra-skill-type {
    margin-left: 19px;
    font-family: Inter;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
        letter-spacing:normal;
    color: #767676;
    }

/* end of extra skill sektion */

/*Middle frame secton*/
.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
}                
.midd_frame-sec {
    position: relative;
    bottom: 67px;
    width: 1000px;
    height: 454.33px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.midd_frame-info {
    width: 499.51px;
    height: 116.74px;
    margin: 60px;
}
.middle_frame-info-title {
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
}

.middle_frame-info-p {
    width: 424px;
    height: 85.61px;
}

.middle_frame-info-p > p {
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    color: #767676;
}

.middle_frame-info-btn {

width: 154px;
height: 51px;
padding: 16px 32px 16px 32px;
background-color: #ffb400;
border: none;
border-radius: 5px;
font-weight: 350;
}

/*Service section*/
.midd_frame-services {
    margin-top: 140px;
}

.service-types {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;

}

.service-title {
    text-align: center;
    font-family: Inter;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.service-p {
    width: 438px;
    height: 68px;
}

.service-p > p {
    width: 100%;
    margin-left: 260px;
    font-family: Inter;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #767676;
}

.service-type  {
    width: 310px;
    height: 225px;
    text-align: center;
    background-color: white;
    border: 2px solid #ffb400;

}

.service-img {
    margin-top: 28px;
    width: 68px;
    height: 68px;
}

.service-type_title {
    margin-top: 26px;
    font-family: Inter;
    font-family: Inter;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.service-type-p {
    margin-top: 15px;
    font-family: Inter;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #767676;
}

.service-type-btn {
    font-family: Roboto;
    font-style: Bold;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    border: none;
    background-color: white;
    color: #f5a623;
}

/* end of middle section*/

    /* Right section*/
.main_frame .right_frame {
    position: relative;
    left: 20px;
    bottom: 10px;
    width: 108px;
    height: 1390px;
    background-color: white;
    align-items: center; 
    display: flex;
    flex-direction: column;
}

.icon_contrast {
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin-left: 39px;
    margin-right: 39px;
    margin-bottom: 174px;
}

.pop_up {
    width: 65px;
    height: 33px;
    margin-left: 21px;
    margin-right: 22px;
    margin-bottom: 5px;
}

.icon_contrast2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.6);
    margin-bottom: 43px;
    margin-right: 34px;
    margin-left: 34px;
}

.icon_home {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:#f6b800; 
    
    margin-bottom: 43px;
    margin-right: 34px;
    margin-left: 34px;
}


.img {
    margin: 11px;
}